* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Simplifica';
  src: url('/fonts/simplifica.woff2') format('woff2'),
    url('/fonts/simplifica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Simplifica', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
